html {scroll-behavior: smooth;}
ul {
    margin: 0;
    padding: 0;
}
.header__welcome {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(199, 216, 233);
    padding: 0 40px;
}

.header_logo {
    display: block;
    text-decoration: none;
}
.header__navbar {
    height: 4rem;
    background-color: rgb(28, 248, 102);
    display:flex;
    justify-content: space-between;
    overflow: hidden;

}
#menu {
  display: block;
  line-height: 4rem;
  text-align: center;
  font-size: 22px;
  padding: 0 20px;
  
}
.header__navbar-list {
    list-style: none;
    margin: 0;
    flex: 2
;

}
.navbar__navbar-item {
    font-size: 12px;
    display: inline-block;
    line-height: 4rem;
    
}
.navbar__navbar-item:hover {
    background-color: rgb(221, 245, 190);
    color: #000;
}
.navbar__navbar-item:hover .navbar_child {
    display: block;
}
.navbar__navbar-item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 0 20px;
    position: relative;
}



.navbar_child {
    position: absolute;
    list-style: none;
    color: #000;
    display: none;
    z-index: 100;
    border: 1px solid rgb(17, 153, 96);
}
.navbar_child-item {
    background-color: #fff;
    padding: 0 20px;
    font-size: 12px;
    width: 200px;
    border: 1px solid rgb(17, 153, 96);
    display: block;
    margin: 0;
    padding: 0 10px;
}
.navbar_child-item:hover {
    color: #fff;
    background-color: rgb(64, 247, 88);

}
.header__navbar-search {
    width: 400px;
    background-color: #fff;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 50px;
    border-radius: 5px;
    flex:1;
    display: flex;

    
}

.icon-search {
    height: 100%;
    font-size: 16px;
    line-height:30px;
}

.header__search-icon {
    display: inline-block;
    flex: 1;
    outline: none;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

.header__search-icon:hover {
    cursor: pointer;
}


.header__search-input {
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: #000;
    padding-left: 16px;
    padding-top: 0px;
    padding-right:0;
    padding-bottom: 0;
    border-radius: 5px;
    flex: 50;
}

.container {
 
}
.slider {
background-color: rgb(180, 252, 201);
max-height: 500px;
}
.slider-content {
    position: relative;;
    overflow: hidden;
    display: block;
    margin: 0 auto;
  }
 /* ẩn hình ảnh cho phần tử slideshow */
  .mySlides {
    display: none;
  }
 /* thiết kế nút mũi tên*/
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    margin-top: -22px;
    padding: 16px;
    color: #000;
    line-height: 10px;
    background-color: #ccc;
    border: 2px solid #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 40px;
  }
 /* thiết kế nút mũi tên next nằm phía bên phải */
  .next {
    right: 30%;
    border-radius: 50%;
  }
 /* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
 /* Thiết lập style cho nội dung của mỗi phần tử slideshow */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
 /* Thiết lập style cho số hiển thị của phần tử */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
 /* thiết lập style  nút tròn điều khiển*/
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
 .active, .dot:hover {
    background-color: #717171;
  }
 /* tạo hiệu ứng chuyển động fade */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
 @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
 @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  .footer {
      background-color:rgb(150, 234, 150);
      padding: 0 60px;
      height: 200px;
      margin-top: 20px;
  }
  .footer-information {
    padding-top: 55px;
    line-height: 28px;
    letter-spacing: 5px;
  }
  .footer-information-text {
    font-size: 18px;
  }


  .login {
      line-height: 4rem;
      outline: none;
      border: none;
      border-radius: 3px;
  }
  
.login-button {
    padding: 5px 25px;
    color: #000;
    font-size: 1.3rem;
    margin-left: 10px;
    background-color: rgb(73, 236, 127);
    outline: none;
    border: 1px solid rgb(143, 142, 142);
      border-radius: 3px;
    cursor: pointer;
}

.slider-photo {
  max-height: 500px;
  width: auto;
}

.tintuc {
    display: flex;
    background-color: #75f97c;
    justify-content: space-around;
    
}

.tintuc-khung {
  display: flex;
  justify-content:space-around;
  flex-direction: column;
}

.tintuc-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(61, 36, 36);
  background-color: rgb(9, 198, 81);
  border-radius: 5px;
  padding: 20px 30px;
}
.tintuc-body {
  background-color: #fff;
  border-radius: 3px;
  max-height: 500px;
  display: flex;
  flex-direction: column;


}
.tintuc-item {
  flex: 1;
  border: 1px solid rgb(180, 154, 154);
}
.phandoan {
  display: flex;
  justify-content:space-around;
  
}
.phandoan-khung {
  margin: 0 20px;
  padding: 10px 10px;
  border-radius: 8px;
 
}
.phandoan-khung:hover {
  background: #ccc;
  border:1px solid red;
}
.thongdiep-khung {
  margin: 0 20px;
  padding: 10px 10px;
  border-radius: 8px;
 
}




.img-phandoan {
  width: 200px;
  border-radius: 10px;
}

.phandoan-khung-detail {
  color:rgb(140, 122, 231);
  font-weight: bold;
  margin:7px 0;
  font-size: 12px;
  display: block;
}





.phandoan-link {
  text-decoration: none;
}

.photo {
  width: 100%;
  height: 500px;
  max-height: 100%;
  background: url('/images/photo.jpg') center / cover no-repeat;
}
.photo-title {
  padding-top: 80px;
  letter-spacing: 5px;
  text-shadow: 7px 5px 4px grey;
}
.photo-title1 {
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
.photo-title2 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.camnang-img {
  width: 250px;
  height: 150px;
  border-radius: 10px;
}
.camnang-title {
  background-color: rgb(70, 223, 70);
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  margin: 10px;
  font-style: italic;
  display: inline-block;
}
.camnang-k {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.cangnang-khung {
  
}
.dulieu {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
}
.dulieu-solieu {
  display: flex;
  justify-content: space-between;
}
.dulieu-solieu-khung {
  flex: 1;
  height: 100px;
  border: 1px solid #ccc;
  border-radius:15px;
  margin: 0 10px;
}
.dulieu-solieu2 {
  display: flex;
  justify-content: space-between;
}
.dulieu-solieu2-khung {
  flex: 1;
  justify-content: space-between;
  height: 80px;
  margin: 5px 10px;
  border: 1px solid #ccc;
  border-radius:15px;


}
.dulieu-sosanh {
  
  border: 1px solid #ccc;
  border-radius:15px;
  margin-bottom: 10px;
}

.contact-textfield {
  width: 100%;
}
.contact-add {
  font-size: 16px;
  line-height: 1.5;
}
.contact-textfield {
  margin-bottom: 10px;
  height: 25px;
}

.submit-contact {
  height: 34px;
    color: #000;
    background-color: #00ed00;
    width: 69px;
}
.submit-contact:hover {
  background-color: #055e05;
  color: #fff;
}
.no-border:hover {
  border: none;
  background-color:rgb(9, 198, 81)

}

.li-cm-camnang:hover {
  background-color: rgb(152, 230, 84);
}

#select {
  width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


/* du lieu  */
.khung{
  margin: 5px 10px;
}

